In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlb

In [2]:
from sklearn import tree

In [3]:
df = pd.read_csv('./ilp2021f/train_final.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income>50K
0,53,Self-emp-not-inc,93449,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
1,33,Self-emp-not-inc,123424,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,47,Private,144844,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,40,Private,114580,HS-grad,9,Divorced,Craft-repair,Other-relative,White,Female,0,0,40,Vietnam,0
4,39,Private,115618,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,0

set max_depth to 7 for time cost

In [5]:
entropy_clf = tree.DecisionTreeClassifier(criterion='entropy',max_depth=7)
gini_clf = tree.DecisionTreeClassifier(max_depth=7)

In [6]:
columns = df.columns
columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income>50K'],
      dtype='object')

In [7]:
df.shape

(25000, 15)

In [8]:
import graphviz

In [9]:
y = df[["income>50K"]]
X = df[['age','workclass','fnlwgt','education','education.num','marital.status','occupation','relationship','race','sex','capital.gain','capital.loss','hours.per.week','native.country']]

In [10]:
y

       income>50K
0               1
1               1
2               0
3               0
4               0
...           ...
24995           0
24996           0
24997           0
24998           1
24999           0

[25000 rows x 1 columns]

In [11]:
X

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,53,Self-emp-not-inc,93449,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India
1,33,Self-emp-not-inc,123424,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
2,47,Private,144844,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
3,40,Private,114580,HS-grad,9,Divorced,Craft-repair,Other-relative,White,Female,0,0,40,Vietnam
4,39,Private,115618,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,18,Private,83451,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,25,United-States
24996,64,Local-gov,202738,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,35,United-States
24997,39,Private,225544,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Poland
24998,53,Private,346871,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Male,4787,0,46,United-States
24999,18,?,192321,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States

Preprocessing the categorical data into integers as DecisionTreeClassifier does not parse categorical data

In [12]:
from sklearn.preprocessing import OneHotEncoder
one= OneHotEncoder()
mode = one.fit_transform(X)

In [13]:
print(mode)

  (0, 36)	1.0
  (0, 79)	1.0
  (0, 2953)	1.0
  (0, 17966)	1.0
  (0, 17982)	1.0
  (0, 17986)	1.0
  (0, 18001)	1.0
  (0, 18006)	1.0
  (0, 18013)	1.0
  (0, 18018)	1.0
  (0, 18019)	1.0
  (0, 18136)	1.0
  (0, 18264)	1.0
  (0, 18335)	1.0
  (1, 16)	1.0
  (1, 79)	1.0
  (1, 4966)	1.0
  (1, 17961)	1.0
  (1, 17980)	1.0
  (1, 17986)	1.0
  (1, 17995)	1.0
  (1, 18006)	1.0
  (1, 18016)	1.0
  (1, 18018)	1.0
  (1, 18019)	1.0
  :	:
  (24998, 17963)	1.0
  (24998, 17976)	1.0
  (24998, 17984)	1.0
  (24998, 18001)	1.0
  (24998, 18007)	1.0
  (24998, 18016)	1.0
  (24998, 18018)	1.0
  (24998, 18091)	1.0
  (24998, 18136)	1.0
  (24998, 18270)	1.0
  (24998, 18355)	1.0
  (24999, 1)	1.0
  (24999, 73)	1.0
  (24999, 10112)	1.0
  (24999, 17967)	1.0
  (24999, 17977)	1.0
  (24999, 17988)	1.0
  (24999, 17991)	1.0
  (24999, 18009)	1.0
  (24999, 18016)	1.0
  (24999, 18018)	1.0
  (24999, 18019)	1.0
  (24999, 18136)	1.0
  (24999, 18264)	1.0
  (24999, 18355)	1.0

In [14]:
X_processed = one.transform(X).toarray()

In [15]:
print(X_processed.shape)

(25000, 18358)

In [16]:
attributes = X.columns
labels = y.columns

In [17]:
gini_model = gini_clf.fit(X_processed,y)

In [18]:
gini_model

DecisionTreeClassifier(max_depth=7)

In [19]:
entropy_model = entropy_clf.fit(X_processed,y)

In [20]:
test_df = pd.read_csv('./ilp2021f/test_final.csv')

In [21]:
print(entropy_model)

DecisionTreeClassifier(criterion='entropy', max_depth=7)

In [22]:
test_X = test_df[['age','workclass','fnlwgt','education','education.num','marital.status','occupation','relationship','race','sex','capital.gain','capital.loss','hours.per.week','native.country']]

In [23]:
one.fit(test_X)

OneHotEncoder()

In [24]:
test_X_processed = one.transform(test_X).toarray()

In [25]:
X.feature_names

AttributeError: 'DataFrame' object has no attribute 'feature_names'

In [ ]:
gini_y = entropy_clf.predict(test_X_processed)

In [ ]:
dot_data = tree.export_graphviz(gini_clf, out_file=None, 
                                feature_names=None,  
                                class_names=None,
                                filled=True)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(12,12))
tree.plot_tree(gini_clf, fontsize=10)
plt.show()